In [1]:
pwd

'C:\\Users\\satya\\Desktop\\PFSD_project'

In [14]:
import pandas as pd

In [22]:
df = pd.read_csv('/Users/satya/Desktop/PFSD_project/archive/CAvideos.csv', encoding="ISO-8859-1")

In [23]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© ...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â¶ \n\nSUBSCRIBE âº ...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ð§: https://ad.gt/yt-perfect\nð°: https://...

In [24]:
df.shape

(40881, 16)

In [25]:
import numpy as np

In [26]:
df.describe()

        category_id         views         likes      dislikes  comment_count
count  40881.000000  4.088100e+04  4.088100e+04  4.088100e+04   4.088100e+04
mean      20.795553  1.147036e+06  3.958269e+04  2.009195e+03   5.042975e+03
std        6.775054  3.390913e+06  1.326895e+05  1.900837e+04   2.157902e+04
min        1.000000  7.330000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%       20.000000  1.439020e+05  2.191000e+03  9.900000e+01   4.170000e+02
50%       24.000000  3.712040e+05  8.780000e+03  3.030000e+02   1.301000e+03
75%       24.000000  9.633020e+05  2.871700e+04  9.500000e+02   3.713000e+03
max       43.000000  1.378431e+08  5.053338e+06  1.602383e+06   1.114800e+06

In [29]:
df['log_views']=np.log(df['views'])
df['log_likes']=np.log(df['likes'])

In [31]:
from bokeh.plotting import figure,output_file, show
from bokeh.models import ColumnDataSource
from bokeh.models.tools import HoverTool

In [33]:
fig=figure(tooltips=TOOLTIPS)
p=fig.circle(x='likes',y='views',source=df)

In [55]:
#tooltips
TOOLTIPS = [
    ("Title","@title"),
    ("Channel","@channel_title"),
    ("Views","@views"),
]
fig = figure(tooltips=TOOLTIPS)
p = fig.circle(x='log_likes', y='log_views', source=df)

fig.xaxis.axis_label = 'Likes'
fig.yaxis.axis_label = 'views'
glyph = p.glyph
glyph.size = 10
glyph.fill_alpha = 0.2
glyph.fill_color = "#ADD8E6"
glyph.line_color = "grey"
glyph.line_dash = [6,3]
glyph.line_width = 2

In [56]:
show(fig)

In [57]:
df.groupby('category_id').count()

,video_id,trending_date,title,channel_title,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,log_view_count,log_likes,log_views
category_id,,,,,,,,,,,,,,,,,,
1,2060,2060,2060,2060,2060,2060,2060,2060,2060,2060,2060,2060,2060,2060,2001,2060,2060,2060
2,353,353,353,353,353,353,353,353,353,353,353,353,353,353,348,353,353,353
10,3731,3731,3731,3731,3731,3731,3731,3731,3731,3731,3731,3731,3731,3731,3695,3731,3731,3731
15,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369,369
17,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2650,2787,2787,2787
19,392,392,392,392,392,392,392,392,392,392,392,392,392,392,377,392,392,392
20,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1344,1330,1344,1344,1344
22,4105,4105,4105,4105,4105,4105,4105,4105,4105,4105,4105,4105,4105,4105,3726,4105,4105,4105
23,3773,3773,3773,3773,3773,3773,3773,3773,3773,3773,3773,3773,3773,3773,3725,3773,3773,3773
24,13451,13451,13451,13451,13451,13451,13451,13451,13451,13451,13451,13451,13451,13451,13173,13451,13451,13451
25,4159,4159,4159,4159,4159,4159,4159,4159,4159,4159,4159,4159,4159,4159,3868,4159,4159,4159
26,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,2007,1998,2007,2007,2007
27,991,991,991,991,991,991,991,991,991,991,991,991,991,991,982,991,991,991
28,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1143,1155,1155,1155
29,74,74,74,74,74,74,74,74,74,74,74,74,74,74,70,74,74,74
30,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
43,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124,124

In [58]:
entertatinment = df[df['category_id'] == 24 ]

In [59]:
entertatinment.sort_values('views', ascending=False)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,log_view_count,log_likes,log_views
5900,FlsCjmMhFmw,17.13.12,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",137843120,3014479,1602383,817582,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",18.741627,14.918938,18.741627
5623,FlsCjmMhFmw,17.12.12,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",125431369,2912715,1545018,807558,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",18.647269,14.884596,18.647269
5398,FlsCjmMhFmw,17.11.12,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",113876217,2811217,1470387,787174,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",18.550623,14.849128,18.550623
5197,FlsCjmMhFmw,17.10.12,YouTube Rewind: The Shape of 2017 | #YouTubeRe...,YouTube Spotlight,24,2017-12-06T17:58:51.000Z,"Rewind|""Rewind 2017""|""youtube rewind 2017""|""#Y...",100911567,2656678,1353655,682890,https://i.ytimg.com/vi/FlsCjmMhFmw/default.jpg,False,False,False,"YouTube Rewind 2017. Celebrating the videos, p...",18.429755,14.792587,18.429755
4699,6ZfuNTqbHE8,17.07.12,Marvel Studios' Avengers: Infinity War Officia...,Marvel Entertainment,24,2017-11-29T13:26:24.000Z,"marvel|""comics""|""comic books""|""nerdy""|""geeky""|...",89930713,2606665,53011,347982,https://i.ytimg.com/vi/6ZfuNTqbHE8/default.jpg,False,False,False,There was an ideaâ¦ Avengers: Infinity War. I...,18.314550,14.773582,18.314550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19937,wuF9_Jy7OfA,18.23.02,Marijuana Stocks Technical Analysis Chart 2/22...,TheChartGuys,24,2018-02-22T23:26:14.000Z,"trade|""stocks chart trading""|""technical analys...",1941,39,1,10,https://i.ytimg.com/vi/wuF9_Jy7OfA/default.jpg,False,False,False,NEW Crypto Alert System: https://crypto.chartg...,7.570959,3.663562,7.570959
26046,yWp7YrLjoSQ,18.26.03,Debbie Lynch-White de ''UnitÃ© 9'' incarne ''L...,mart lat,24,2018-03-26T01:32:42.000Z,"Debbie Lynch-White|""La Bolduc""|""UnitÃ© 9""|""Tou...",1921,17,0,0,https://i.ytimg.com/vi/yWp7YrLjoSQ/default.jpg,False,False,False,En plongeant dans ses recherches pour incarner...,7.560601,2.833213,7.560601
22721,s029voQMRzU,18.09.03,Marijuana Stocks Technical Analysis Chart 3/8/...,TheChartGuys,24,2018-03-09T01:12:35.000Z,"trade|""stocks chart trading""|""technical analys...",1542,35,0,6,https://i.ytimg.com/vi/s029voQMRzU/default.jpg,False,False,False,NEW Crypto Alert System: https://crypto.chartg...,7.340836,3.555348,7.340836
20505,MTtFpn9C7Q4,18.26.02,Simon Olivier Fecteau crÃ©ateur des derniers B...,mart lat,24,2018-02-26T03:18:13.000Z,"Simon Olivier Fecteau|""Bye bye""|""En audition a...",1107,14,1,3,https://i.ytimg.com/vi/MTtFpn9C7Q4/default.jpg,False,False,False,Simon Olivier Fecteau renoue avec son ingrat p...,7.009409,2.639057,7.009409
34625,bz91MAdY6FQ,18.14.05,''Gala Artis 2018'' Le numÃ©ro d'ouverture,mart lat,24,2018-05-14T00:43:35.000Z,"gala|""artis""|""2018""|""numÃ©ro d'ouverture""|""Yam...",733,10,4,0,https://i.ytimg.com/vi/bz91MAdY6FQ/default.jpg,False,False,False,Anim.: Maripier Morin et Jean-Philippe Dion. L...,6.597146,2.302585,6.597146

In [61]:
entertatinment.views.dtype

dtype('int64')

In [62]:
entertatinment.describe()

,category_id,views,likes,dislikes,comment_count,log_view_count,log_likes,log_views
count,13451.0,1.345100e+04,1.345100e+04,1.345100e+04,13451.000000,13451.000000,1.345100e+04,13451.000000
mean,24.0,1.016372e+06,2.878934e+04,1.917447e+03,4112.187644,12.781329,-inf,12.781329
std,0.0,3.706464e+06,1.083120e+05,2.933067e+04,20807.588180,1.352514,NaN,1.352514
min,24.0,7.330000e+02,0.000000e+00,0.000000e+00,0.000000,6.597146,-inf,6.597146
25%,24.0,1.465485e+05,1.869000e+03,9.000000e+01,320.000000,11.895112,7.533159e+00,11.895112
50%,24.0,3.461660e+05,6.208000e+03,2.600000e+02,1038.000000,12.754674,8.733594e+00,12.754674
75%,24.0,8.257125e+05,1.970350e+04,7.605000e+02,2931.000000,13.624002,9.888552e+00,13.624002
max,24.0,1.378431e+08,3.014479e+06,1.602383e+06,827755.000000,18.741627,1.491894e+01,18.741627

In [63]:
pd.options.display.float_format = '{:,f}'.format
entertatinment[{'views','likes'}].describe()

                   views            likes
count      13,451.000000    13,451.000000
mean    1,016,371.683072    28,789.341536
std     3,706,463.975384   108,312.038242
min           733.000000         0.000000
25%       146,548.500000     1,869.000000
50%       346,166.000000     6,208.000000
75%       825,712.500000    19,703.500000
max   137,843,120.000000 3,014,479.000000